:root {
  --white: #ffff;
  --grey: #7a7a7a;
  --light-grey: #ededed;
  --black: #1b1b1b;
  --yellow: #ffd15b;

  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;

  --br-11: 11px;
  --br-14: 14px;
  --br-21: 21px;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: var(--fs-14);
  line-height: 19.12px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--light-grey);
}

h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 66.24px;
  text-transform: uppercase;
}
h3 {
  font-weight: 700;
  font-size: var(--fs-12);
  line-height: 16.39px;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 20px;
}

p {
  font-size: var(--fs-16);
  line-height: 19.12px;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: var(--black);
}
a:hover {
  color: var(--black);
}

/* HERO  */
header {
  background-image: url(./assets/Photos/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png);
  width: 100%;
  height: 667px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.logo {
  width: 207px;
  height: 25.26px;
  margin: 51px 0 0 69px;
}
.hero-text {
  text-align: center;
  margin: 10% auto;
  width: 55%;
  color: var(--yellow);
}
/* Search bar */
.search__input-group {
  width: 70%;
  position: relative;
  bottom: 100px;
  overflow: hidden;
  margin: auto;
}
.search__input,
.btn {
  width: 100%;
  padding: 1.5rem;
  border: none;
  border-radius: var(--br-11);
  background: var(--white);
}

.search__icon {
  background: transparent;
  border: none;
  right: 4px;
  top: 8px;
  height: 00%;
  position: absolute;
}

/* MAIN */
.main {
  width: 90%;
}
/* DROPDOWN FILTERS SECTION */

#filters {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  margin: 0;
  justify-content: space-between;
  gap: 2rem;

}
#filters:after {
  content: " ";
  display: table;
  clear: both;
}

.filter__items{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 85%;
  margin: 0;
}
.filter__item{
  margin: 1rem 2rem;
}
.filter__search {
  margin: 1rem 2rem;
}
.filter__search--icon {
  margin-left: -25px;
}
.dropdown {
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: var(--br-11);
  line-height: 35px;
  width: 270px;
}
.dropdown > a {
  font-size: var(--fs-16);
  font-weight: 500;
}
.dropdown:after {
  content: "\2304";
  font-size: 2rem;
  display: block;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}
.dropdown:hover > .drop-nav {
  display: block;
  left: 0;
}
.drop-nav {
  position: absolute;
  display: none;
  background-color: var(--white);
  width: 270px;
  z-index: 1;
  border-radius: 0 0 var(--br-11) var(--br-11);
  height: 324px;
  text-overflow: ellipsis;
  overflow: scroll;
}

.drop-nav > ul li {
  padding: 0.5rem 2rem;
}
.drop-nav > ul li:hover {
  background-color: var(--yellow);
}
.recipes-number{
  margin-top: 2rem;
  font-weight: bold;
  margin-right: 0;
}

/* TAGS SECTION */
#tags__selected{
  width: 60%;
  display: flex;
  gap: 2rem;
  margin: 0.6rem;
}
.tag__ingredients--wrapper, 
.tag__appliances--wrapper,
.tag__ustensils--wrapper {  

  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  
}
.tag {
  width: 270px;
  border-radius: 10px;
  background-color: var(--yellow);
  padding: 1.2rem;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag > p{

  margin: 0;
}

/* RECIPES SECTION - ARTICLES */

#recipes__cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem;
}

#recipes__cards article {
  border-radius: var(--br-21);
  margin: 1rem 0;
  width: 380px;
  position: relative;
  background-color: var(--white);
}

.image-space {
  width: 380px;
  height: 253px;
  background-color: var(--grey);
  border-top-left-radius: var(--br-21);
  border-top-right-radius: var(--br-21);
}
.image-space img {
  width: 380px;
  height: 253px;
  border-top-left-radius: var(--br-21);
  border-top-right-radius: var(--br-21);
  object-fit: cover;
}

.duration-wrapper {
  background-color: var(--yellow);
  border-radius: var(--br-14);
  width: 80px;
  padding: 0.4rem;
  position: absolute;
  top: 21px;
  left: 295px;
}
.duration {
  text-align: center;
  font-size: var(--fs-12);
  margin-bottom: 0;
}

.article-header {
  width: 380px;
  padding: 20px;
}

.article-header h2 {
  font-family: "Anton", sans-serif;
  font-size: var(--fs-18);
  line-height: 27.1px;
  font-weight: 400;
}
.informations {
  padding: 20px;
}
.description p {
  text-overflow: ellipsis;
  overflow: scroll;
  height: 100px;
}
.ingredients__detailled--bloc {
  margin-top: 20px;
}
.ingredient-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.ingredient-item {
  width: 50%;
  margin-bottom: 30px;
}
.ingredient {
  font-size: var(--fs-14);
  font-weight: 500;
  line-height: 1px;
}
.quantity {
  font-size: var(--fs-14);
  font-weight: 400;
  color: var(--grey);
}
